apiVersion: apps/v1
kind: Deployment
metadata:
  name: omnia-api
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: omnia-front
spec:
  replicas: 2