apiVersion: apps/v1
kind: Deployment
metadata:
  name: omnia-api
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: api
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: omnia-front
spec:
  replicas: 1